body {
    background: #efefef;
}

div {
    margin: 20px;
}

button {
    background: #882e2e;
    color: white;
    padding: 10px;
    border: 0;
}

.main-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap:10px;
}